<a href="https://colab.research.google.com/github/SaShaSta/Data-Analysis-/blob/main/09_SF_Salaries_Exercise(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd



```
# This is formatted as code
```

** Read Salaries.csv as a dataframe called sal.**

In [6]:
sal = pd.read_csv('/content/Salaries.csv')
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49725,49726,Crystal DeFrantz,Emp & Training Spec 4,84086.48,0.00,624.01,35661.88,84710.49,120372.37,2012.0,NaN,San Francisco,NaN
49726,49727,Antoinette Wells,Transit Operator,66714.31,13722.09,1549.20,38368.67,81985.60,120354.27,2012.0,NaN,San Francisco,NaN
49727,49728,Robert Rudy,Stationary Engineer,73814.00,15484.85,7035.40,24019.82,96334.25,120354.07,2012.0,NaN,San Francisco,NaN
49728,49729,Sean Kerrisk,Carpenter,78931.55,3516.76,2193.00,35710.67,84641.31,120351.98,2012.0,NaN,San Francisco,NaN
49729,49730,Rachelle Axel,Senior Management Assistant,8.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

** Check the head of the DataFrame. **

In [5]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** **bold text** Use the .info() method to find out how many entries there are.**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49730 entries, 0 to 49729
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                49730 non-null  int64
 1   EmployeeName      49730 non-null  object
 2   JobTitle          49730 non-null  object
 3   BasePay           49730 non-null  float64
 4   OvertimePay       49729 non-null  float64
 5   OtherPay          49729 non-null  float64
 6   Benefits          13570 non-null  float64
 7   TotalPay          49729 non-null  float64
 8   TotalPayBenefits  49729 non-null  float64
 9   Year              49729 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            49729 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 4.9+ MB

**What is the average BasePay ?**

In [8]:
average_base_pay = sal['BasePay'].mean()
average_base_pay

75598.46581017495

** What is the highest amount of OvertimePay in the dataset ? **

In [9]:
highest_overtime_pay = sal['OvertimePay'].max()
highest_overtime_pay

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [12]:
joseph_driscoll_job_title = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]
joseph_driscoll_job_title

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
joseph_driscoll_total_pay = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]
joseph_driscoll_total_pay

270324.91

** What is the name of highest paid person (including benefits)?**

In [14]:
highest_paid_index = sal['TotalPayBenefits'].idxmax()
highest_paid_person = sal.loc[highest_paid_index, 'EmployeeName']
highest_paid_person

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
highest_paid_index = sal['TotalPayBenefits'].idxmin()
highest_paid_person = sal.loc[highest_paid_index, 'EmployeeName']
highest_paid_person

'PAULETTE ADAMS'

** How many unique job titles are there? **

In [16]:
unique_job_titles = sal['JobTitle'].nunique()
unique_job_titles

1685

** What are the top 5 most common jobs? **

In [17]:
top_5_jobs = sal['JobTitle'].value_counts().head(5)
top_5_jobs

JobTitle
TRANSIT OPERATOR    2388
SPECIAL NURSE       1402
REGISTERED NURSE    1219
Registered Nurse     996
CUSTODIAN            796
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [18]:
sal_2013 = sal[sal['Year'] == 2013]
job_title_counts = sal_2013['JobTitle'].value_counts()
job_titles_one_person = (job_title_counts == 1).sum()
job_titles_one_person

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [19]:
chief_count = sal[sal['JobTitle'].str.contains('Chief', case=False, na=False)].shape[0]
chief_count

317

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [25]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)
correlation_columns = ['JobTitleLength', 'TotalPayBenefits']
correlation_matrix = sal[correlation_columns].corr()
print(correlation_matrix)

                  JobTitleLength  TotalPayBenefits
JobTitleLength          1.000000         -0.068236
TotalPayBenefits       -0.068236          1.000000

# Great Job!